@using (Html.BeginForm("Search", "Product"))
{
    <input type="text" name="SearchName" value="" />
    <input type="submit" name="SearchName" value="Search" />

    <br />
    <label>Order By</label>
    <select name="OrderBy">
        <option value="1">Price</option>
        <option value="2">Review</option>
    </select>
    <label>Order</label>
    <select name="Order">
        <option value="1">Ascending</option>
        <option value="2">Descending</option>
    </select>
}
