@model IEnumerable<WebStore.Models.Product>

@{
    ViewBag.Title = "Products";
}

<h2>@ViewBag.Title</h2>

@Html.Partial("SearchBar")

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@Html.Partial("ProductList")
